<app-game-menu></app-game-menu>

<div>
    <h1 class="h1">Who is the first president of Russian Federation</h1>

    <div class="content">
        <div class="row">
            <div class="col">
                <button>A. Putin</button>
            </div>
            <div class="col">
                <button>B. Lenin</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button>C. Elzin</button>
            </div>
            <div class="col">
                <button>D. Medvedev</button>
            </div>
        </div>
    </div>
</div>